table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
}

th{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
    color: black;
}
td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    color: black;
}

th {
    background-color: green;
    color: white;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}
tr:nth-child(odd) {
    background-color: whitesmoke;
}

form {
    margin: 20px 0;
    max-width: 980px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #25282e;
}

label {
    display: block;
    margin-right: 10px;
    color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
}
