
p2{
    font-size: 30px;
    margin: 25px;
}

.block1{
    display: flex;
    justify-content: space-between;
    justify-items: right;
    background-color: rgb(255, 237, 218);
}

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 237, 218);
}

.nav-links {
    display: flex;
}
.nav-links2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

.nav-links a:hover {
    text-decoration: underline;
}

header {
    background-color: rgb(255, 237, 218);
    padding: 30px;
    text-align: left;
    font-size: 25px;
    color: black;
}

.overskrift {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 237, 218);
}
.page-container {
    justify-content: center;
    background-color: brown;

}

.block {
    justify-content: center;

}

.pragraf {
    display: flex;
    justify-content: center;
    color: darkolivegreen;
}

.flex-container {
    background-image: url('../image/Familie.jpeg');
    background-size: cover;
    background-position: center;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
}



.flex-box {
    width: 400px;
    height: 400px;
    background: linear-gradient(darkgreen, yellowgreen);
    color: wheat;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    border-radius: 30px;
    margin: 10px;
}
.source-link {
    color: black; /
    text-decoration: none;
}