
p2{
    font-size: 30px;
    margin: 25px;
}

.block1{
    display: flex;
    justify-content: space-between;
    justify-items: right;
    background-color: rgb(255, 237, 218);
}

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 40px;
    background-color: rgb(255, 237, 218);
}

.nav-links {
    display: flex;
}
.nav-links2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.nav-links a {
    color: white; /* Choose your text color */
    text-decoration: none;
    padding: 0 15px;
}

.nav-links a:hover {
    text-decoration: underline;
}

header {
    background-color: rgb(255, 237, 218);
    padding: 30px;
    text-align: left;
    font-size: 25px;
    color: black;
}

.overskrift {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", serif;
    color: black;
    font-size: 2em;
    position: fixed; /* Position the header absolutely */
    top: 20vh; /* Adjust the top position as needed */
    left: 50%; /* Align the header to the center */
    transform: translateX(-50%); /* Center the header horizontally */
    z-index: 1; /* Ensure the header is above the flexboxes */
}
.page-container {
    justify-content: center;
    background-color: brown;

}

.block {
    justify-content: center;

}

.pragraf {
    display: flex;
    justify-content: center;
    color: darkolivegreen;
}

.flex-container {
    background-image: url('../image/madspild.jpg');/* Set the background image */
    background-size: cover; /* Ensure the background image covers the entire viewport */
    background-position: center; /* Center the background image */
    align-items: center;
    height: 100vh; /* Set the height of the body to the height of the viewport */
    display: flex;
    justify-content: center;
    position: relative; /* Ensure proper positioning of text */
    color: white; /* Set default text color */

}

.flex-box {
    width: 400px;
    height: 400px;
    background: linear-gradient(darkgreen, yellowgreen);
    color: wheat;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    border-radius: 30px;
    margin: 10px;
}
.source-link {
    color: black; /* Ændrer farven på linket til sort */
    text-decoration: none; /* Fjerner understregning på linket */
}