.block{
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
}

p2{
    font-size: 20px;
    margin: 25px;
}

.block1{
    display: flex;
    justify-content: space-between;
    justify-items: right;
    background-color: rgb(255, 237, 218);
}

.block2{
    display: flex;
    height: 60vh;
    width: 100vh;
    background-color: gray;
    margin: 40px;
}

.block3{
    display: flex;
    text-align: center;
    width: 20vh;
    height: 20vh;
    background-color: rosybrown;
    justify-items: center;
    margin: 100px;
}

.block4{
    display: flex;
    align-content: flex-start;
    margin: 1px;
}

.circle {
    display: flex;
    text-align: center;
    margin: 100px;
    width: 100px;
    height: 100px;
    background-color: rosybrown;
    border-radius: 20%; /* Gør elementet rundt ved at sætte border-radius til halvdelen af elementets bredde/højde */
}


.block-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 175vh;
    height: 30px;
    margin: 4px;
    p1{
        color: white;
    }
}

.block-container1{
    display: flex;
    width: 210vh;
    height: 30px;
}

.block-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.page-container{
    display: flex;
    width: 210vh;
    height: 60vh;
    background-color: ghostwhite;
    margin: 4px;
}

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 40px;
    background-color: rgb(255, 237, 218);
}

.nav-links {
    display: flex;
}
.nav-links2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.nav-links a {
    color: white; /* Choose your text color */
    text-decoration: none;
    padding: 0 15px;
}

.nav-links a:hover {
    text-decoration: underline;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

option {
padding: 10px;
    font-size: 16px;
}

.source-link {
    color: black; /* Ændrer farven på linket til sort */
    text-decoration: none; /* Fjerner understregning på linket */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}