.flex-container-virksomhed {
    background-image: url('../image/Grøn-virksomhed.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    color: white;

}