<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact page</title>
    <link rel = "stylesheet" href="../Static/css/Contact.css" th:href ="@{css/Contact.css}">
    <link rel = "stylesheet" href="../Static/css/StopMadSpild.css" th:href ="@{css/StopMadSpild.css}">
    <!--

    -->
</head>
<script>
    function searchList() {
        let input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchBar");
        filter = input.value.toUpperCase();
        table = document.querySelector(".block1 table");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            let id = tr[i].getElementsByTagName("td")[0];
            let firstName = tr[i].getElementsByTagName("td")[1];
            let lastName = tr[i].getElementsByTagName("td")[2];
            let studentMail = tr[i].getElementsByTagName("td")[3];
            let githubmail = tr[i].getElementsByTagName("td")[4];

            txtValue = (id ? id.textContent || id.innerText : "") +
                (firstName ? firstName.textContent || firstName.innerText : "") +
                (lastName ? lastName.textContent || lastName.innerText : "") +
                (studentMail ? studentMail.textContent || studentMail.innerText : "") +
                (githubmail ? githubmail.textContent || githubmail.innerText : "");

            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
</script>
<body>
<div class="block1">
    <div class="navbar">
        <a href="/">
            <img src="../Static/image/StopSpildAfMad.PNG" th:src="@{image/StopSpildAfMad.PNG}" alt="Your Logo">
        </a>
    </div>
    <div class="nav-links2">
        <p2><a class="source-link" href="/">Forside</a></p2>
        <div class="dropdown">
            <div class="block-container3">
                <span> <p2> Madspild</p2></span>
                <div class="dropdown-content">
                    <a href="Forbruger">Forbruger</a>
                    <a href="Virksomhed">Virksomhed</a>
                    <a href="Madspild">Organisation</a>
                </div>
            </div>
        </div>
        <p2><a class="source-link" href="/about">Om os</a></p2>
        <p2><a class="source-link" href="/kontakt">Kontakt</a></p2>
    </div>
</div>
<div class="block1">
    <img src="../Static/image/burgerMan.png" th:src="@{image/burgerMan.png}" width="100%" height="500px" alt="">
</div>
<div class="block1">
    <header>
        <h1>Kontakt</h1>
        <label for="searchBar">Search:</label>
        <input type="text" id="searchBar" oninput="searchList()" placeholder="Type to search">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Student mail</th>
                <th>Github mail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contact : ${contactlist}">
                <td th:text="${contact.id}">1</td>
                <td th:text="${contact.firstName}">Test navn</td>
                <td th:text="${contact.lastName}">Test navn</td>
                <td th:text="${contact.studentMail}">test mail</td>
                <td th:text="${contact.githubmail}">test mail</td>
            </tr>
            </tbody>
        </table>
    </header>
</div>
</body>
</html>