<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Madspild</title>
    <link rel = "stylesheet" href="../Static/css/Madspild.css" th:href ="@{css/Madspild.css}">

</head>
<body>
<h1 class="overskrift"> Information til virksomheder der vil undgå madspild!</h1>
<div class="flex-container">
    <div class="flex-box">
        <h4>Madspild factos</h4>
        <p>
            Madspildet i den danske servicesektor udgør 227.000-ton pr. år.
            Til sammenligning er det samlede madspild fra husholdningerne
            261.000-ton pr. år.
        </p>
        <a href="https://www.facebook.com/">Læs mere her!</a>


    </div>
    <div class="flex-box">
        Box2
    </div>

<div class="flex-box">
    Box3
</div>

</div>

</body>
</html>