<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Madspild</title>
    <link rel = "stylesheet" href="../Static/css/Madspild.css" th:href ="@{css/Madspild.css}">
    <link rel = "stylesheet" href="../Static/css/StopMadSpild.css" th:href ="@{css/StopMadSpild.css}">
</head>
<body>
<div class="block1">
    <div class="navbar">
        <a href="/">
            <img src="../Static/image/KampenModMadspild.PNG" th:src="@{image/KampenModMadspild.PNG}" alt="Your Logo">
        </a>
    </div>
    <div class="nav-links2">
        <p2><a class="source-link" href="/">Forside</a></p2>
        <div class="dropdown">
            <div class="block-container3">
                <span> <p2> Madspild</p2></span>
                <div class="dropdown-content">
                    <a href="Forbruger">Forbruger</a>
                    <a href="Virksomhed">Virksomhed</a>
                    <a href="Organisationer">Organisation</a>
                </div>
            </div>
        </div>
        <p2><a class="source-link" href="/about">Om os</a></p2>
        <p2><a class="source-link" href="/kontakt">Kontakt</a></p2>
    </div>
</div>
    <h2 class ="overskrift">Information om madspild for servicesektoren</h2>
</div>


<div class="flex-container">
    <div class="flex-box">
        <h4>Madspild factos</h4>
        <p>

        </p>
        <a href="https://www.facebook.com/">Læs mere her!</a>


    </div>
    <div class="flex-box">
        <h4>Madspild typeshii</h4>
        <p>

        </p>
    </div>

<div class="flex-box">
    <h4>Fuck landbruget</h4>
    <p>
    </p>
</div>

</div>



</body>
</html>