<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Madspild</title>
    <link rel = "stylesheet" href="../Static/css/Madspild.css" th:href ="@{css/Madspild.css}">

</head>
<body>
<div class="block1">
    <div class="navbar">
        <a href="/">
            <img src="../Static/image/KampenModMadspild.PNG" th:src="@{image/KampenModMadspild.PNG}" alt="Your Logo">
        </a>
    </div>
    <div class="nav-links2">
        <p2><a href="/">Forside</a></p2>
        <p2><a href="/madspild">Madspild</a></p2>
        <p2><a href="/about">Om os</a></p2>
        <p2><a href="/kontakt">Kontakt</a></p2>
    </div>
</div>


<h1 class="overskrift"> Information til virksomheder der vil undgå madspild!</h1>



<div class="flex-container">
    <div class="flex-box">
        <h4>Madspild factos</h4>
        <p>
            Madspildet i den danske servicesektor udgør 227.000-ton pr. år.
            Til sammenligning er det samlede madspild fra husholdningerne
            261.000-ton pr. år.
        </p>
        <a href="https://www.facebook.com/">Læs mere her!</a>


    </div>
    <div class="flex-box">
        Box2
    </div>

<div class="flex-box">
    Box3
</div>

</div>



</body>
</html>