<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Organisationer</title>
    <link rel = "stylesheet" href="../Static/css/Madspild.css" th:href ="@{css/Madspild.css}">
    <link rel = "stylesheet" href="../Static/css/StopMadSpild.css" th:href ="@{css/StopMadSpild.css}">
</head>
</head>
<body>
<div class="block1">
    <div class="navbar">
        <a href="/">
            <img src="../Static/image/KampenModMadspild.PNG" th:src="@{image/KampenModMadspild.PNG}" alt="Your Logo">
        </a>
    </div>
    <div class="nav-links2">
        <p2><a class="source-link" href="/">Forside</a></p2>
        <div class="dropdown">
            <div class="block-container3">
                <span> <p2> Madspild</p2></span>
                <div class="dropdown-content">
                    <a href="Forbruger">Forbruger</a>
                    <a href="Virksomhed">Virksomhed</a>
                    <a href="Organisationer">Organisation</a>
                </div>
            </div>
        </div>
        <p2><a class="source-link" href="/about">Om os</a></p2>
        <p2><a class="source-link" href="/kontakt">Kontakt</a></p2>
    </div>
</div>
<div class="overskrift">
    <h1>Information om madspild for forbrugeren</h1>
</div>


<div class="flex-container">
    <div class="flex-box">
        <h4>Tre typer spild</h4>
        <p>
            1) ’Madspild’ er madaffald, der kunne være spist af mennesker.
            2) ’Skjult madspild’ er spild af planter eller dyr, der kunne have været spist af mennesker, hvis de blev behandlet eller udnyttet optimalt gennem hele kæden fra primærproduktion til detailhandel.
            3) ’Biprodukter’ omfatter dele af fødevareproduktionen, der ikke er egnede som menneskeføde, men hvor det er relevant at diskutere, hvorvidt udnyttelsen af disse er optimal eller om der også her kan være tale om et spild af ressourcer.
        </p>
        <a href="https://www.facebook.com/">Læs mere her!</a>


    </div>
    <div class="flex-box">
        <h4>Årlige madspild i Danmark i kroner og øre.</h4>
        <p>
            Det største spild af korn, mel og brød sker i detailhandlen (150 mio. kr.) efterfulgt af storkøkkener (110 mio. kr.).
            Det største spild af frugt og grønt sker i detailhandlen (428 mio. kr.) efterfulgt af primærproduktionen (311 mio. kr.).
            Det største spild af mælk, æg og mejeriprodukter sker i fødevareindustrien (202 mio. kr.) efterfulgt af storkøkkener (108 mio. kr.).
            Det største spild af kød sker i fødevareindustrien (411 mio. kr.) efterfulgt af
            storkøkkener (90 mio. kr.) og detailhandlen (73 mio. kr.).
            Hertil kommer værdien af madspild fra andre fødevarekategorier, som ikke er opgjort (fisk, sukkervarer, krydderier og øvrige ingredienser), som vurderes at udgøre op mod 1 mia. kr. årligt, heraf formentlig ca. halvdelen i husholdningerne.

        </p>
    </div>

    <div class="flex-box">
        <h4>Danskere elsker at være nr 1!</h4>
        <p>
            Danmark har nordisk rekord i madspild. 42,3% af danskerne smider mad ud i skraldespanden en til tre gange om ugen, mens tallene i Sverige, Norge og Finland ligger på henholdsvis 33,3%, 33,1 og 21,7%. Knap hver 2. dansker i undersøgelsen svarer, at den hyppigste årsag til, at de smider maden ud, er, at den har passeret ‘mindst holdbar til'-mærkningen, og netop det lader således til at være en af årsagerne til danskernes førsteplads. Det betyder, at vi læner os langt mere op ad datomærkningen end vores nordiske naboer.
        </p>
    </div>

</div>

</body>
</html>