<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stop madspild</title>
    <link rel = "stylesheet" href="../Static/css/StopMadSpild.css" th:href ="@{css/StopMadSpild.css}">
</head>
<body>
<div class="block1">
    <div class="navbar">
        <a href="/">
            <img src="../Static/image/KampenModMadspild.PNG" th:src="@{image/KampenModMadspild.PNG}" alt="Your Logo">
        </a>
    </div>
    <div class="nav-links2">
        <p2><a href="/">Forside</a></p2>
        <form action="Madspild.html" th:action="@{/redirect}" method="post">
            <select name="redirectPage" class="block-container3">
        <option value="Forbruger"> Forbruger</option>
        <option value="Virksomhed"> Virksomhed</option>
        <option value= "Madspild"> Organisation </option>

        </select>
            <input type="submit" value="Go">
        </form>
        <p2><a href="/about">Om os</a></p2>
        <p2><a href="/kontakt">Kontakt</a></p2>
    </div>
</div>
<!--
<div class="block-container1">
    <div class="block-container">
        <div class="block">
            <p1> Home </p1>
        </div>
        <div class="block">
            <p1> About</p1>
        </div>
        <div class="block">
            <p1> Madspild </p1>
        </div>
        <div class="block">
            <p1> Features </p1>
        </div>
    </div>
</div>
-->
<div class="block1">
    <img src="../Static/image/gene1.png" th:src="@{image/gene1.png}" width="100%" height="350px" alt="">
</div>

<div class="block1">
    <div class="block-container2">
        <div class="block3"> <a class="source-link" href="https://pixlr.com/dk/image-generator/"><p>Kildehenvisning: Pixlr, har hjulpet med billeder</p></a></div>
        <div class="block3"><a class="source-link" href="https://www.dst.dk/da/"><p>Kildehenvisning: Danmark Stalistik, har også givet nogle facts</p></a> </div>
    </div>
    <div class="block-container2">
        <div class="circle"><a class="source-link" href="https://stopspildafmad.org/om-madspild/"><p>læs også: Stop Mad Spild kampagen</p></a></div>
        <div class="circle"><a class="source-link" href="https://www.youtube.com/stopspildafmad"> <p>Se også: Video fra kampagen til Stop Mad Spild</p></a></div>
    </div>
</div>

</body>
</html>