<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stop madspild</title>
    <link rel = "stylesheet" href="../Static/css/StopMadSpild.css" th:href ="@{css/StopMadSpild.css}">
</head>
<body>
    <div class = block4>
        <img src="../Static/image/Stop.png" th:src="@{image/Stop.png}" width="140px" height="100px">
         <h1> Kampen mod madspild starter HER!</h1>
    </div>

<div class="block-cointer1">

    <div class="block-cointer">
        <div class="block">
            <p1> home </p1>
        </div>

        <div class="block">
            <p1> About</p1>
        </div>

        <div class="block">
            <p1> Madspild </p1>
        </div>

        <div class="block">
            <p1> Features </p1>
        </div>

    </div>
        <div class="block1">
            <img src="../Static/image/kontakt.png" th:src="@{image/kontakt.png}" width="140px" height="30">
        </div>
</div>

<div class="page-cointer">
            <img src="../Static/image/madspil.jpg" th:src="@{image/madspil.jpg}" width="1200px" height="300px">
</div>

<div class="page-cointer">
    <div class="block-cointer2">
        <div class="block3"><p>1</p></div>
        <div class="block3"><p>2</p></div>
        <div class="block3"><p>3</p></div>
        <div class="block3"><p>4</p></div>
    </div>
</div>

</body>
</html>